.cy-wizard {
    .step-item {
        display: inline-block;
        border-radius: 50%;
        background-color: #D1D3D5;
        min-height: 10px;
        min-width: 10px;
        margin: 2px;
    }

    .active {
        background-color: #676C72;
    }

    .active.step-item:last-child {
        background-color: #309630;
    }
}
